@forward "./abstracts";
@forward "./base";
@forward "./components/";
@forward "./layouts";
@forward "./utilities/";

body {
  width: auto;
  padding: 0rem;
  margin: 0;
  font-family: "Inter-Bold";
}

focus-mode-screen {
  video {
    height: 00px;
  }
}
