<div id="mtx-video-container" class="">
    <div id="mtx-mode-frame-${pId}" class="mtx-col-6 mtx-outer-frame" style="top:50vh">
        <video class="mtx-video-elem" id="mtx-video-elem-${pId}" playsinline="true"></video>

        
        <div class="mtx-hidden" id="vd-${pId}">
            <img class="mtx-video-disabled-img" id="vdi-${pId}" src="{{CDNlink}}assets/images/profile.png"/>
        </div>

        <div class="user-names">
            ${name}

            <i id="ai-${pId}" class="fa-solid fa-microphone mtx-ml-2"></i>
        </div>
    </div>

    <audio id="a-${pId}" class="mtx-hidden" autoplay="false" playsInline="false" controls="false"></audio>

    <div id="cursor-pointer-${participantId}" class="mtx-remote-cursor-png-div mtx-hidden" style="top:50vh">
        <img src="{{CDNlink}}/assets/images/pointer.png" class="mtx-remote-cursor"/>
    </div>
</div>
