@font-face {
  font-family: "Inter-Regular";
  src: url("../../assets/font/inter/Inter-Regular.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Medium";
  src: url("../../assets/font/inter/Inter-Medium.ttf");
  font-style: normal;
}

@font-face {
  font-family: "Inter-Bold";
  src: url("../../assets/font/inter/Inter-Bold.ttf");
  font-style: normal;
}

.Inter-Regular {
  font-family: "Inter-Regular";
}

.Inter-Medium {
  font-family: "Inter-Medium";
}

.Inter-Bold {
  font-family: "Inter-Bold";
}
