<html>

    <head>
        <!-- <link rel="stylesheet" href="{{CDN_LINK}}assets/styles/styles.css"/> -->
        <!-- <link rel="stylesheet"  <link id="link" rel="stylesheet" href="{{CDN_LINK}}sass/styles.css"/> -->
            <style>
.mtx-hidden {
    display: none;
}
    </style>
    </head>

        <body>
            <div class="mtx-form-position mtx-hidden" id="marketrix-modal-container"> <section class="mtx-modal">
                <div class="marketrix-flex">
                    <div class="mtxx-modal-content">

                        <div class="">
                            <div id="mtx-cursor-header" class="mtx-main-cursor-header">
                                <div class="mtx-cursor-header">
                                    <div class="mtx-cursor-one">
                                        <img src="{{CDN_LINK}}assets/images/cursor-one.png"/>
                                    </div>
                                    <div class="mtx-cursor-two">
                                        <img src="{{CDN_LINK}}assets/images/cursor-two.png"/>
                                    </div>
                                    <div class="mtx-cursor-three">
                                        <img src="{{CDN_LINK}}assets/images/cursor-three.png"/>
                                    </div>
                                </div>
                            </div>
                            <div id="mtx-contact-form-notification-card" class="mtx-hidden">
                                <div>
                                    <i id="mtx-notification-icon" class="fa notification-icon" aria-hidden="true"></i>
                                    <span id="mtx-contact-notification"></span>
                                </div>
                            </div>
                            <div id="mtx-form-content" class="mtx-form-body">
                                <widget-form></widget-form>
                            </div>

                            <live-connect-widget id="mtx-live-connect-call-div" class="mtx-hidden"></live-connect-widget>

                            <div id="mtx-footer-controls" class="mtx-main-footer">
                                <div class="mtx-connect-footer">
                                    <control-button></control-button>
                                </div>
                                <div id="mtx-form-close-btn" class="mtx-close-btn-footer">
                                    <div type="button" onclick="closeModal()">
                                        <span aria-hidden="true">&times;</span>
                                    </div>
                                </div>
                            </div>

                            <div class="mtx-snpt-footer-owner-div">
                                <div>
                                    <span>Powered by</span>
                                </div>
                                <a href="https://www.marketrix.ai/" target="_blank">
                                    <img src="{{CDN_LINK}}assets/images/poweredby.svg"/>
                                </a>
                            </div>

                        </div>

                    </div>
                </div>
            </body>
        </body>
    </body>
</html>
<!-- </div><div class="mtx-overlay mtx-hidden"></div></body></html> -->
